@import url('https://fonts.googleapis.com/css?family=Quicksand');
@import "~font-awesome/scss/font-awesome";
@import '~bootstrap/scss/bootstrap';
body{
  font-family: 'Quicksand', sans-serif !important;;
}

.accordion{
  .card{
    .card-header{
      cursor:pointer;
    }
  }
}

.stats-icon{
  color : #c95855;
}